
  <div id="content">
    <div id="change-content">
      <p id="start" onClick="startIgnite()"> <!-- qui metti un parametro -->
        <i class="fa fa-fire" aria-hidden="true"></i>
      </p>
    </div>
    <div id="progressdiv">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%; background-color:#333;"></div>
      </div>
    </div>

    <div id="actual-slide">
      <span style="padding: 0 1vh"><%= @ignite.name %></span>
    </div>

  </div>

  <div style="display:none;">
    <!-- La parte che segue non è visibile, ma serve in fase di preparazione -->

    <h1>Cinque secondi</h1>
    <!-- Se non sai dirlo in cinque secondi, non puoi dirlo neanche in trecento -->
    <p>#Il tuo argomento, in cinque secondi#</p>

    <h1>Trenta secondi</h1>
    <p>#Il tuo argomento, in trenta secondi#</p>

    <h1>Trecento secondi</h1>
    <p>#Il tuo argomento, finalmente in un discorso di cinque minuti#</p>

      <h2>1</h2>
    <div id="1">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>2</h2>
    <div id="2">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>3</h2>
    <div id="3">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>4</h2>
    <div id="4">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>5</h2>
    <div id="5">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>6</h2>
    <div id="6">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>7</h2>
    <div id="7">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>8</h2>
    <div id="8">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>9</h2>
    <div id="9">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>10</h2>
    <div id="10">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>11</h2>
    <div id="11">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>12</h2>
    <div id="12">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>13</h2>
    <div id="13">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>14</h2>
    <div id="14">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>15</h2>
    <div id="15">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>16</h2>
    <div id="16">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>17</h2>
    <div id="17">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>18</h2>
    <div id="18">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>19</h2>
    <div id="19">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <h2>20</h2>
    <div id="20">
      <p></p>
    </div>
    <p>Questo non verrà visualizzato, può servire in fase di preparazione</p>

      <div id="tnx">
      <p>Grazie!</p>
    </div>

  </div>

  <!-- cosa tecnica, per pre-caricare l'immagine successiva -->
  <div id="preload" style="display:none;"></div>

